@import '../../colors.scss';

.input-row {
    &__label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $textColor;
        font-size: 20px;
        line-height: 20px;
        align-items: baseline;
    }
    &__input {
        margin-top: 8px;
        color: $inputColor;
        border: none;
        background-color: transparent;
        font-size: 20px;
        line-height: 20px;
        text-align: right;
        &:focus {
            outline: none;
        }
    }
    &__wrapper {
        margin-bottom: 23px;
    }
}
