@import "../../colors.scss";

.input {
  &__label {
    color: $labelColor;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 14px;
  }

  &__input {
    margin-top: 8px;
    color: $inputColor;
    border: none;
    background-color: transparent;
    font-size: 20px;
    line-height: 20px;

    &:focus {
      outline: none;
    }
  }

  &__wrapper {
    margin-bottom: 23px;
  }
}

.input-row {
  &__label {
    color: $textColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    line-height: 20px;
    align-items: baseline;
  }

  &__input {
    margin-top: 8px;
    color: $inputColor;
    border: none;
    background-color: transparent;
    font-size: 20px;
    line-height: 20px;
    text-align: right;

    &:focus {
      outline: none;
    }
  }

  &__wrapper {
    margin-bottom: 23px;
  }
}
