{
    "env": {
      "browser": true,
      "es2020": true
    },
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "ignorePatterns": [".stylelintrc.js"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 11,
      "sourceType": "module"
    },
    "plugins": ["@typescript-eslint"],
    "rules": {
      "quotes": [1, "double", { "allowTemplateLiterals": true }],
      "semi": [1, "always"],
      "no-console": ["warn"],
      "@typescript-eslint/ban-ts-comment": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-this-alias": "off",
      "@typescript-eslint/no-empty-function": ["off"],
      "@typescript-eslint/no-non-null-assertion": "off"
    }
  }
