@import '../../colors.scss';

.card {
    box-sizing: border-box;
    border-radius: 50px;
    background: linear-gradient(101.7deg, #B7DAE9 0%, #9DF5DE 100%);
    box-shadow: 10px 10px 50px -10px rgba(0, 0, 0, 0.25);
    min-width: 200px;

    padding: 41px 25px;

    &__title {
        color: $cardTitle;
        text-align: center;
        font-weight: 500;
    }
}
