@import '../../colors.scss';

/* stylelint-disable */
alert {
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  z-index: 20000;
}
/* stylelint-enable */

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  font-size: 16px;
  line-height: 24px;
  color: $teal;
  border-top: 4px solid;

  &_success {
    background-color: $lightGreen;
    border-top-color: $darkGreen;
  }

  &_error {
    background-color: $lightRed;
    border-top-color: $red;
  }
}
