.layout {
    position: relative;
}
.password {
    &-avatar {
        margin-bottom: 70px;
    }
    &-card {
        width: 578px;
        margin-bottom: 96px;
    }
    &-edit-btn {
        max-width: 280px;
    }
}
