$lightGreen: #9BF6DD;
$darkGreen: #438756;
$teal: #134E4A;
$red: #ff2f2f;
$lightRed: #ffa7a7;
$black: #1e1e1e;
$white: #fff;
$blue: #3369F3;

$gradientFrom: $lightGreen;
$gradientTo: #b7d9e9;

$blankLayoutBackgroundColor: $white;

$cardTitle: $darkGreen;

$labelColor: #999;
$inputColor: $darkGreen;
$inputBorderColor: $blue;

$btnBackgroundColor: $darkGreen;
$btnColor: $white;

$linkColor: $blue;

$panelLinkBackgroundColor: $white;

$errorColor: $red;

$textColor: $black;

$searchBackgroundColor: #efefef;
$searchColor: #999;

$chatListMessageColor: $darkGreen;
$chatListUnreadBackgroundColor: $darkGreen;
$chatListUnreadColor: $white;

$chatHeaderLastVisitColor: $darkGreen;

$chatMessageColor: $darkGreen;

$chatIncomingMessageBackgroundColor: #efefef;

$chatOutgoingMessageBackgroundColor: $lightGreen;

$chatMessageBorderColor: #eaeaea;
