$gradientFrom: #9bf6dd;
$gradientTo: #b7d9e9;

$blankLayoutBackgroundColor: #fff;

$cardTitle: #438756;

$labelColor: #999;
$inputColor: #438756;
$inputBorderColor: #3369f3;

$btnBackgroundColor: #438756;
$btnColor: #fff;

$linkColor: #3369f3;

$panelLinkBackgroundColor: #fff;

$errorColor: #ff2f2f;

$textColor: #1e1e1e;

$searchBackgroundColor: #efefef;
$searchColor: #999;

$chatListMessageColor: #438756;
$chatListUnreadBackgroundColor: #438756;
$chatListUnreadColor: #fff;

$chatHeaderLastVisitColor: #438756;

$chatMessageColor: #438756;

$chatIncomingMessageBackgroundColor: #efefef;

$chatOutgoingMessageBackgroundColor: #9bf6dd;

$chatMessageBorderColor: #eaeaea;
