@import "./fonts.scss";
@import "./colors.scss";

html,
body,
#root,
main {
  width: 100%;
  height: 100%;
}

#root {
  position: relative;
}

body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
}

p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.layout {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin-bottom: 40px;
}

.btn {
  max-width: 280px;
  margin-bottom: 14px;
}

.card {
  box-sizing: border-box;
  border-radius: 50px;
  background: linear-gradient(101.7deg, #b7dae9 0%, #9df5de 100%);
  box-shadow: 10px 10px 50px -10px rgba(0, 0, 0, 0.25);
  min-width: 200px;
  padding: 41px 25px;
  margin-bottom: 27px;

  &__title {
    color: $cardTitle;
    text-align: center;
    font-weight: 500;
  }
}

.blank-layout {
  background: $blankLayoutBackgroundColor;

  .link {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.gradient-layout {
  background: linear-gradient(107.56deg, $gradientFrom 0%, $gradientTo 100%);
}

.login-card,
.register-card {
  width: 333px;
}

.profile-card {
  width: 578px;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.error {
  &-wrapper {
    margin-bottom: 69px;
  }
}

.menu-icon {
  margin-top: 6px;
  width: 24px;
  height: 18px;
}
