@import "./fonts.scss";
@import "./colors.scss";
@import './mixins.scss';

html,
body,
#root,
main {
  width: 100%;
  height: 100%;
}

#root {
  position: relative;
}

body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
}

div {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.layout {
  @include flexCenter;

  position: relative;
  height: 100%;
  flex-direction: column;
}

.avatar {
  margin-bottom: 40px;
}

.btn {
  max-width: 280px;
  margin-bottom: 14px;
}

.card {
  box-sizing: border-box;
  border-radius: 50px;
  background: linear-gradient(101.7deg, $dustBlue 0%, $lightGreen 100%);
  box-shadow: 10px 10px 50px -10px rgba(0, 0, 0, 0.25);
  min-width: 200px;
  padding: 41px 25px;
  margin-bottom: 27px;

  &__title {
    color: $darkGreen;
    text-align: center;
    font-weight: 500;
  }
}

.blank-layout {
  background: $white;

  .link {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.gradient-layout {
  background: linear-gradient(107.56deg, $lightGreen 0%, $dustBlue 100%);
}

.login-card,
.register-card {
  width: 333px;
}

.profile-card {
  width: 578px;
}

.center {
  @include flexCenter;

  flex-direction: row;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.error {
  &-wrapper {
    margin-bottom: 69px;
  }
}

.menu-icon {
  margin-top: 6px;
  width: 24px;
  height: 18px;
}

.modal {
  &__wrapper {
    width: 280px;
    padding: 30px;
    background: linear-gradient(101.7deg, $dustBlue 0%, $lightGreen 100%);
    box-shadow: 10px 10px 50px -10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }

  &__header {
    @include flexCenter;

    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__title {
    color: $darkGreen;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    flex-grow: 1;
  }
}
