@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1010;
  background-color: rgba($black, 0.37);
}
